<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDA-Xr0LiUP8sfFmDgcSzZIdrdMtxrhvV8</string>
	<key>GCM_SENDER_ID</key>
	<string>982680639994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackerApp</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-925c8</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-925c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982680639994:ios:6856bc64e3b29dfdd9ac43</string>
</dict>
</plist>